header {
  background-color: skyblue;
  font-size: 200%;
  margin: auto;
  height: 60px;
}
.contact_form {
  display: flex;
  justify-content: center;
}
#submit_button:hover {
  opacity: 0.5;
}
